doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/components.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
  body
    block menu
    block content
